.header {
  width: 100%;
  height: 52px;
  display: flex;
  padding: 14px 16px;
  border-bottom: 1px solid;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-color: #eeeeee;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #eeeeee;
}

body {
  margin: 5px;
  min-width: 300px;
}

#close {
  top: 4px;
  right: 4px;
  width: 44px;
  border: none;
  cursor: pointer;
  height: 44px;
  display: flex;
  padding: 0;
  z-index: 1;
  position: absolute;
  background: none;
  transition: 0.2s;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
}

.tabs{
  font-family:'Poppins',sans-serif;
  display:flex;
  align-items:center;
  flex-direction:column;
  width:100%;
  min-height:100vh;
}

.sidebar{
   display:flex;
   align-items:center;
   justify-content:flex-start;
   width:100%;
}

.tab-btn{
  background-color:#fff;
  border:none;
  border-bottom:1px solid gray;
  color:#000;
  cursor:pointer;
  padding:10px 0;
  margin:10px 0;
  outline:none;
  width:50%;
}

.tab-btn-active{
  border-bottom:2px solid #028A0F;
  color:#028A0F;
  font-weight:bold;
}

/* tabs content */
.content{
  width:100%;
}

.tab-content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  height:100vh;
  position:absolute;
  top:10rem;
  display: none;
  text-align:left;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.tab-content-active{
  display:block;
}

#downloadVideo {
  padding: 7px;
  border-radius: 2px;
  border: 0;
  transition: 0.2s ease-out;
  color: #fff;
  background: #db0000;
  margin: 0 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-color: #b32924;
  cursor: pointer;
}
#downloadVideo:hover {
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #d9534f;
}

#downloadVideo:active,
#downloadVideo:focus,
#downloadVideo.active {
  outline: 0;
  color: #fff;
  background-color: #d9534f;
}
