.header {
  width: 100%;
  height: 52px;
  display: flex;
  padding: 14px 16px;
  border-bottom: 1px solid;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-color: #eeeeee;
}

.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #eeeeee;
}

body {
  margin: 5px;
  min-width: 300px;
}

#close {
  top: 4px;
  right: 4px;
  width: 44px;
  border: none;
  cursor: pointer;
  height: 44px;
  display: flex;
  padding: 0;
  z-index: 1;
  position: absolute;
  background: none;
  transition: 0.2s;
  align-items: center;
  border-radius: 3px;
  justify-content: center;
}

.tabs{
  font-family:'Poppins',sans-serif;
  display:flex;
  align-items:center;
  flex-direction:column;
  width:100%;
  min-height:75vh;
}

.sidebar{
   display:flex;
   align-items:center;
   justify-content:flex-start;
   width:100%;
}

.tab-btn{
  background-color:#fff;
  border:none;
  border-bottom:1px solid gray;
  color:#000;
  cursor:pointer;
  padding:10px 0;
  margin:10px 0;
  outline:none;
  width:50%;
}

.tab-btn-active{
  border-bottom:2px solid #028A0F;
  color:#028A0F;
  font-weight:bold;
}

/* tabs content */
.content{
  width:100%;
}

.tab-content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  height:75vh;
  position:absolute;
  top:10rem;
  display: none;
  text-align:left;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.tab-content-active{
  display:block;
}

/* CSS */
.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #26ff8fb1 0, #13f96f65 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#0f5427 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(38, 255, 121) 0%, rgba(19, 249, 53, 0.735) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #26ff8fb1 0, #13f96f65 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#0f5427 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}
